.container{
  border-radius: 5px;
}
/* SHADOW/GLOW TRANSITIONS */
/* Glow */
.hvr-glow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  .hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }

.material-icons{
  margin-top: 5px;
  width:40px ;
  height:40px;
  align-content: center;
  }
#Botonera{
  text-align:center; 
  background-color:yellow; 
  padding-left:1%;
  margin-top: 10px;
}
.center_panel{
  max-width: 70%;
  margin-top: 20px;
}
.Teclas{
  margin-top: 5px;
  margin-left: 50px;
}
.Tecla{
  float: left;
  margin: 2px;
 }

/*Slide Bar*/
.slide_general{
  margin-top: 15px;
}
.rangeslider{ 
    width: 110%; 
    float: left;
    margin-top: 20px;
    border-radius: 5px;
} 
  
.myslider { 
    -webkit-appearance: none; 
    background:  #212f3c; 
    width: 50%; 
    height: 20px; 
    opacity: 2; 
    border-radius: 5px;

   } 
  
  
.myslider::-webkit-slider-thumb { 
    -webkit-appearance: none; 
    cursor: pointer; 
    background: #154360  ; 
    width: 5%; 
    height: 20px; 
} 
  
  
.myslider:hover { 
    opacity: 1; 
} 